Client/node_modules/**/*
Backend/node_modules/**/*
node_modules/**/*
Client/.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
Client/web-build/
web-build/


# macOS
.DS_Store